<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>
</head>
<body>
    <h1>This is the login page</h1>
    <ul>
        <%newskill.skill.forEach((item)=>{%>
            <li><%=item%></li>
            <%})%>
    </ul>
    <h1><%- include('common');%></h1>
</body>
</html>